@import "./../../../../variables";

.nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto 0;
  .nav-item {
    height: 100%;
    margin: auto 0;
    display: flex;
    span {
      margin: auto;
    }
    i {
      margin: auto auto auto 0;
    }
  }
  .datetime {
    width: 60%;
    color: $item-name-text-color;
    font-size: $datetime-size;
  }
  .locality {
    cursor: pointer;
    width: 40%;
    background-color: $nav-blue;
    border-radius: 0 0 0 25px;
    color: rgba(13, 160, 234, 1);
    font-size: $value-text-size;
  }
}

@media only screen and (min-width: 1200px) {
  .nav {
    .datetime {
      font-size: $datetime-size-1200;
    }
    .locality {
      font-size: $locality-size;
    }
  }
}
