<div class="day-box">
  <div *ngIf="data?.main === 'Rain'" class="icon">
    <i class="bi bi-cloud-drizzle"></i>
  </div>

  <div *ngIf="data?.main === 'Clouds'" class="icon">
    <i class="bi bi-cloud"></i>
  </div>

  <div *ngIf="data?.main === 'Clear'" class="icon">
    <i class="bi bi-sun"></i>
  </div>

  <div class="text-values">
    <span>{{ dataWeather!.dt * 1000 | date: "EEE, d" }}</span>
  </div>

  <div class="text">
    <span>{{ dataWeather?.temp?.max | number: "1.0-0" }}°C</span>
    <i class="bi bi-arrow-up"></i>
    <span>{{ dataWeather?.temp?.min | number: "1.0-0" }}°C</span>
    <i class="bi bi-arrow-down"></i>
  </div>
</div>
