@import "./../../../../variables";

.weather-items {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  .weather-item {
    margin: auto;
  }
  .max-min {
    margin: auto;
    flex-direction: column;
    color: #666666;
    font-size: $value-text-size;
    .max {
      margin-bottom: 4px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .weather-items {
    .weather-item {
      .icon {
        font-size: $icon-size-1200;
      }
      .text {
        font-size: $text-size-2-1200;
      }
      .temperature {
        .number {
          font-size: 54px;
        }
        .degree {
          font-size: 22px;
          vertical-align: top;
          margin-top: 10px;
        }
      }
      .max-min {
        font-size: $icon-size-1200;
      }
    }
  }
}
