.weather-items {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  .weather-item {
    margin: auto;
    .icon {
      text-align: center;
      font-size: 35px;
      color: #666666;
    }
    .text {
      text-align: center;
      font-size: 12px;
      font-weight: bolder;
      color: #666666;
    }
    .temperature {
      display: flex;
      .number {
        font-size: 64px;
      }
      .degree {
        position: relative;
        font-size: 24px;
        vertical-align: top;
        margin-top: 10px;
      }
    }
    .text-values {
      text-align: center;
      font-weight: bolder;

    }
  }
  .max-min {
    margin: auto;
    flex-direction: column;
    color: #666666;
    .max {
      font-size: 16px;

    }
    .min {
      font-size: 16px;
    }
  }
}



@media only screen and (min-width: 1200px) {
  .weather-items {

    .weather-item {
      .icon {
        font-size: 25px;

      }

      .text {
        font-size: 10px;
      }

      .temperature {
        .number {
          font-size: 48px;
        }

        .degree {
          font-size: 18px;
          vertical-align: top;
          margin-top: 10px;
        }
      }

      .max {
        font-size: 12px;

      }

      .min {
        font-size: 12px;
      }
    }
  }

}



