//colors
$icon-color: #AAAAAA;
$item-name-text-color: #999999;
$grey-background: #F3F3F3;
$autocomplete-value-color: #666666;
$nav-blue: rgba(13, 159, 234, 0.08);

//mobile
$value-color: #444444;
$icon-size: 24px;
$value-text-size: 16px;
$text-size-2: 8px;
$autocomplete-item-text-size: 18px;
$datetime-size: 14px;

//min 1200px screens
$icon-size-1200: 30px;
$value-text-size-1200: 20px;
$text-size-2-1200: 12px;
$datetime-size-1200: 16px;
$locality-size: 17px
