<div class="wrapper">
  <h3>Location</h3>
  <div class="ng-autocomplete">

    <ng-autocomplete
      [data]="cities"
      [searchKeyword]="keyword"
      placeholder="Search city..."
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
      (selected)='selectEvent($event)'>
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>

  </div>
</div>

