@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./src/app/variables";

@font-face {
  font-family: "Barlow";
  src: url("//db.onlinewebfonts.com/t/795640e2e50d64eb829116ba8f81739d.eot");
  src: url("//db.onlinewebfonts.com/t/795640e2e50d64eb829116ba8f81739d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/795640e2e50d64eb829116ba8f81739d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/795640e2e50d64eb829116ba8f81739d.woff") format("woff"), url("//db.onlinewebfonts.com/t/795640e2e50d64eb829116ba8f81739d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/795640e2e50d64eb829116ba8f81739d.svg#Barlow") format("svg");
}

html, body{
  font-family: "Barlow";
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

//shared css
.icon {
  text-align: center;
  font-size: $icon-size;
  color: $icon-color;
}
.text {
  text-align: center;
  font-size: $text-size-2;
  font-weight: bolder;
  color: $item-name-text-color;
}
.temperature {
  position: relative;
  display: flex;
  left: 7px;
  .number {
    font-size: 64px;
  }
  .degree {
    position: relative;
    font-size: 24px;
    vertical-align: top;
    margin-top: 10px;
  }
}
.text-values {
  font-size: $value-text-size;
  text-align: center;
  font-weight: bolder;
}

