.days {
  padding: 10px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 101px;
  column-gap: 15px;
  .day {
    height: 100%;
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .days {
    padding: 0 20px 20px 20px;
    display: flex;
    height: 85%;
    .day {
      margin: auto;
      height: 90%;
      width: 150px;
    }
  }
}
